<% if user_signed_in? %>
  <div class ="left-sidebar">
    <ul>
      <% @users.each do |user| %>
        <li>
          <%= link_to user.email, user_path(user) %>
        </li>
      <% end %>
    </ul>
  </div>
<% else %>
  <h1>Wellcome to chatwork</h1>
<% end %>